{% extends "base.twig" %}

{% block title %}
	404 - Page non trouvée
{% endblock %}

{% block content %}
	<main class="container py-8">
		<h1 class="text-4xl font-heading text-primary text-center">404 - Page non trouvée</h1>
	</main>
{% endblock %}
